* {
  margin: 0;
  padding: 0;
  /* text-align: center; */
}

.App {
  text-align: center;
}

.nav {
  height: 60px;
  background-color: #ffffff;
  position: sticky;
  top: 0px;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 708px;
  /* background-color: #f5cac3; */
}
.about {
  height: 708px;
  background-color: #d8f3dc;
}
.projects {
  height: 708px;
  background-color: rgb(243, 243, 216);
}
.contact {
  height: 708px;
  background-color: #ffc6ff;
}

.link {
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  display: inline;
  margin-top: 20px;
  padding: 0px 20px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.link-h1 {
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  display: inline;
  margin-top: 20px;
  padding: 0px 20px;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
}


/* scroll to top button */
.top-btn-position {
  position: fixed;
  bottom: 15px;
  right: 20px;
}

.top-btn-style {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.top-btn-style:hover {
  animation: none;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
}
